@import '../_utils.scss';
/**
TODO: use rem where possible
 */
.button {
  outline: none;
  padding: 1rem 2.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: white;
  border-width: 2px;
  border-style: solid;

  @include vendorPrefix(border-radius, 10px);

  &.primary {
    border-color: var(--color-primary);
    background: var(--color-primary);
  }

  &.outline {
    background: none;
    border-color: rgba(255, 255, 255, 0.4);
  }

  &.size-small {
    padding: 0.6875rem 1.375rem;
  }
}
