@import '../utils';

/**
TODO: maybe https://codepen.io/heyitsolivia/pen/EICDK
 */
.card.course {
  @include vendorPrefix('border-radius', '16px');
  @include vendorPrefix(filter, drop-shadow(0px 12px 36px rgba(0, 0, 0, 0.25)));
  perspective: 1000px;

  .inner, .front, .back {
    width: 100%;
    height: 500px;
  }

  .inner {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  .front,
  .back {
    @include vendorPrefix(backface-visibility, hidden);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
    overflow: hidden;
  }

  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .back {
    background: white;
    transform: rotateY(180deg);
  }

  .text-content {
    padding: 1.875rem;
    >:first-child {
      margin-bottom: 0.5rem;
    }
  }

  .cta {
    position: absolute;
    padding: 1.875rem;
    top: 0;
    right: 0;
    border: none;
    background: none;

    &:hover svg rect {
      fill: var(--color-secondary);
    }
  }

  &.flip {
    .inner {
      transform: rotateY(180deg);
    }
  }
}


