@import '../utils';

.card.course {
  @include vendorPrefix('border-radius', '16px');
  @include vendorPrefix(filter, drop-shadow(0px 12px 36px rgba(0, 0, 0, 0.25)));
  perspective: 1000px;

  img {
    width: 100%;
  }

  .inner, .front, .back {
    width: 100%;
    height: 480px;
  }

  .inner {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  .front,
  .back {
    @include vendorPrefix(backface-visibility, hidden);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
    overflow: hidden;
  }

  .front {
    z-index: 2;
    transform: rotateY(0deg);
    clip-path: polygon(0% 0%, 100% 0, 100% 90%, 88% 100%, 0% 100%);

    .text-content {
      background: linear-gradient(0deg, rgba(22, 26, 37, 0.6) 0%, rgba(22, 26, 37, 0) 50%), linear-gradient(0deg, transparent, transparent);
    }
  }

  .back {
    background: white;
    transform: rotateY(180deg);

    .text-content {

      .title {
        margin-bottom: 1.5rem;
      }

      p {
        line-height: 1.6875rem;
        margin-bottom: 1rem;
      }

      p, table {
        font-size: 1rem;

        @include for-tablet-and-up{
          font-size: 1.125rem;
        }
      }

      table {
        $border: 1px solid rgba(196, 196, 196, 30%);
        width: 100%;
        border-collapse: collapse;
        font-size: 1.125rem;
        border-bottom: $border;

        td {
          border-top: $border;
          padding: 1rem 0;

          &:last-child {
            text-align: right;
          }
        }

      }
    }
  }

  .text-content {
    padding: 1.875rem;
    >:first-child {
      margin-bottom: 0.5rem;
    }
  }

  .cta {
    position: absolute;
    padding: 1.875rem;
    top: 0;
    right: 0;
    border: none;
    background: none;

    &:hover svg rect {
      fill: var(--color-secondary);
    }
  }

  &.flip {
    .inner {
      transform: rotateY(180deg);
    }
  }
}


